StackService.Library/bin/Debug/net6.0/StackService.Library.deps.json
StackService.Library/bin/Debug/net6.0/StackService.Library.dll
StackService.Library/bin/Debug/net6.0/StackService.Library.pdb
StackService.Library/bin/Debug/net6.0/ref/StackService.Library.dll
StackService.Library/obj/project.assets.json
StackService.Library/obj/project.nuget.cache
StackService.Library/obj/StackService.Library.csproj.nuget.dgspec.json
StackService.Library/obj/StackService.Library.csproj.nuget.g.props
StackService.Library/obj/StackService.Library.csproj.nuget.g.targets
StackService.Library/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
StackService.Library/obj/Debug/net6.0/StackService.Library.AssemblyInfo.cs
StackService.Library/obj/Debug/net6.0/StackService.Library.AssemblyInfoInputs.cache
StackService.Library/obj/Debug/net6.0/StackService.Library.assets.cache
StackService.Library/obj/Debug/net6.0/StackService.Library.csproj.AssemblyReference.cache
StackService.Library/obj/Debug/net6.0/StackService.Library.csproj.CoreCompileInputs.cache
StackService.Library/obj/Debug/net6.0/StackService.Library.csproj.FileListAbsolute.txt
StackService.Library/obj/Debug/net6.0/StackService.Library.dll
StackService.Library/obj/Debug/net6.0/StackService.Library.GeneratedMSBuildEditorConfig.editorconfig
StackService.Library/obj/Debug/net6.0/StackService.Library.GlobalUsings.g.cs
StackService.Library/obj/Debug/net6.0/StackService.Library.pdb
StackService.Library/obj/Debug/net6.0/ref/StackService.Library.dll
StackService.Tests/bin/Debug/net6.0/CoverletSourceRootsMapping
StackService.Tests/bin/Debug/net6.0/Microsoft.TestPlatform.CommunicationUtilities.dll
StackService.Tests/bin/Debug/net6.0/Microsoft.TestPlatform.CoreUtilities.dll
StackService.Tests/bin/Debug/net6.0/Microsoft.TestPlatform.CrossPlatEngine.dll
StackService.Tests/bin/Debug/net6.0/Microsoft.TestPlatform.PlatformAbstractions.dll
StackService.Tests/bin/Debug/net6.0/Microsoft.TestPlatform.Utilities.dll
StackService.Tests/bin/Debug/net6.0/Microsoft.VisualStudio.CodeCoverage.Shim.dll
StackService.Tests/bin/Debug/net6.0/Microsoft.VisualStudio.TestPlatform.Common.dll
StackService.Tests/bin/Debug/net6.0/Microsoft.VisualStudio.TestPlatform.ObjectModel.dll
StackService.Tests/bin/Debug/net6.0/Newtonsoft.Json.dll
StackService.Tests/bin/Debug/net6.0/NuGet.Frameworks.dll
StackService.Tests/bin/Debug/net6.0/StackService.Library.dll
StackService.Tests/bin/Debug/net6.0/StackService.Library.pdb
StackService.Tests/bin/Debug/net6.0/StackService.Tests.deps.json
StackService.Tests/bin/Debug/net6.0/StackService.Tests.dll
StackService.Tests/bin/Debug/net6.0/StackService.Tests.pdb
StackService.Tests/bin/Debug/net6.0/StackService.Tests.runtimeconfig.json
StackService.Tests/bin/Debug/net6.0/testhost.dll
StackService.Tests/bin/Debug/net6.0/testhost.exe
StackService.Tests/bin/Debug/net6.0/xunit.abstractions.dll
StackService.Tests/bin/Debug/net6.0/xunit.assert.dll
StackService.Tests/bin/Debug/net6.0/xunit.core.dll
StackService.Tests/bin/Debug/net6.0/xunit.execution.dotnet.dll
StackService.Tests/bin/Debug/net6.0/xunit.runner.reporters.netcoreapp10.dll
StackService.Tests/bin/Debug/net6.0/xunit.runner.utility.netcoreapp10.dll
StackService.Tests/bin/Debug/net6.0/xunit.runner.visualstudio.dotnetcore.testadapter.dll
StackService.Tests/bin/Debug/net6.0/cs/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
StackService.Tests/bin/Debug/net6.0/cs/Microsoft.TestPlatform.CoreUtilities.resources.dll
StackService.Tests/bin/Debug/net6.0/cs/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
StackService.Tests/bin/Debug/net6.0/cs/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
StackService.Tests/bin/Debug/net6.0/cs/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
StackService.Tests/bin/Debug/net6.0/de/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
StackService.Tests/bin/Debug/net6.0/de/Microsoft.TestPlatform.CoreUtilities.resources.dll
StackService.Tests/bin/Debug/net6.0/de/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
StackService.Tests/bin/Debug/net6.0/de/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
StackService.Tests/bin/Debug/net6.0/de/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
StackService.Tests/bin/Debug/net6.0/es/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
StackService.Tests/bin/Debug/net6.0/es/Microsoft.TestPlatform.CoreUtilities.resources.dll
StackService.Tests/bin/Debug/net6.0/es/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
StackService.Tests/bin/Debug/net6.0/es/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
StackService.Tests/bin/Debug/net6.0/es/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
StackService.Tests/bin/Debug/net6.0/fr/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
StackService.Tests/bin/Debug/net6.0/fr/Microsoft.TestPlatform.CoreUtilities.resources.dll
StackService.Tests/bin/Debug/net6.0/fr/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
StackService.Tests/bin/Debug/net6.0/fr/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
StackService.Tests/bin/Debug/net6.0/fr/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
StackService.Tests/bin/Debug/net6.0/it/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
StackService.Tests/bin/Debug/net6.0/it/Microsoft.TestPlatform.CoreUtilities.resources.dll
StackService.Tests/bin/Debug/net6.0/it/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
StackService.Tests/bin/Debug/net6.0/it/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
StackService.Tests/bin/Debug/net6.0/it/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
StackService.Tests/bin/Debug/net6.0/ja/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
StackService.Tests/bin/Debug/net6.0/ja/Microsoft.TestPlatform.CoreUtilities.resources.dll
StackService.Tests/bin/Debug/net6.0/ja/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
StackService.Tests/bin/Debug/net6.0/ja/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
StackService.Tests/bin/Debug/net6.0/ja/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
StackService.Tests/bin/Debug/net6.0/ko/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
StackService.Tests/bin/Debug/net6.0/ko/Microsoft.TestPlatform.CoreUtilities.resources.dll
StackService.Tests/bin/Debug/net6.0/ko/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
StackService.Tests/bin/Debug/net6.0/ko/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
StackService.Tests/bin/Debug/net6.0/ko/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
StackService.Tests/bin/Debug/net6.0/pl/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
StackService.Tests/bin/Debug/net6.0/pl/Microsoft.TestPlatform.CoreUtilities.resources.dll
StackService.Tests/bin/Debug/net6.0/pl/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
StackService.Tests/bin/Debug/net6.0/pl/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
StackService.Tests/bin/Debug/net6.0/pl/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
StackService.Tests/bin/Debug/net6.0/pt-BR/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
StackService.Tests/bin/Debug/net6.0/pt-BR/Microsoft.TestPlatform.CoreUtilities.resources.dll
StackService.Tests/bin/Debug/net6.0/pt-BR/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
StackService.Tests/bin/Debug/net6.0/pt-BR/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
StackService.Tests/bin/Debug/net6.0/pt-BR/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
StackService.Tests/bin/Debug/net6.0/ref/StackService.Tests.dll
StackService.Tests/bin/Debug/net6.0/ru/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
StackService.Tests/bin/Debug/net6.0/ru/Microsoft.TestPlatform.CoreUtilities.resources.dll
StackService.Tests/bin/Debug/net6.0/ru/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
StackService.Tests/bin/Debug/net6.0/ru/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
StackService.Tests/bin/Debug/net6.0/ru/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
StackService.Tests/bin/Debug/net6.0/tr/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
StackService.Tests/bin/Debug/net6.0/tr/Microsoft.TestPlatform.CoreUtilities.resources.dll
StackService.Tests/bin/Debug/net6.0/tr/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
StackService.Tests/bin/Debug/net6.0/tr/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
StackService.Tests/bin/Debug/net6.0/tr/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
StackService.Tests/bin/Debug/net6.0/zh-Hans/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
StackService.Tests/bin/Debug/net6.0/zh-Hans/Microsoft.TestPlatform.CoreUtilities.resources.dll
StackService.Tests/bin/Debug/net6.0/zh-Hans/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
StackService.Tests/bin/Debug/net6.0/zh-Hans/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
StackService.Tests/bin/Debug/net6.0/zh-Hans/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
StackService.Tests/bin/Debug/net6.0/zh-Hant/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
StackService.Tests/bin/Debug/net6.0/zh-Hant/Microsoft.TestPlatform.CoreUtilities.resources.dll
StackService.Tests/bin/Debug/net6.0/zh-Hant/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
StackService.Tests/bin/Debug/net6.0/zh-Hant/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
StackService.Tests/bin/Debug/net6.0/zh-Hant/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
StackService.Tests/obj/project.assets.json
StackService.Tests/obj/project.nuget.cache
StackService.Tests/obj/StackService.Tests.csproj.nuget.dgspec.json
StackService.Tests/obj/StackService.Tests.csproj.nuget.g.props
StackService.Tests/obj/StackService.Tests.csproj.nuget.g.targets
StackService.Tests/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
StackService.Tests/obj/Debug/net6.0/StackService.Tests.AssemblyInfo.cs
StackService.Tests/obj/Debug/net6.0/StackService.Tests.AssemblyInfoInputs.cache
StackService.Tests/obj/Debug/net6.0/StackService.Tests.assets.cache
StackService.Tests/obj/Debug/net6.0/StackService.Tests.csproj.AssemblyReference.cache
StackService.Tests/obj/Debug/net6.0/StackService.Tests.csproj.CopyComplete
StackService.Tests/obj/Debug/net6.0/StackService.Tests.csproj.CoreCompileInputs.cache
StackService.Tests/obj/Debug/net6.0/StackService.Tests.csproj.FileListAbsolute.txt
StackService.Tests/obj/Debug/net6.0/StackService.Tests.dll
StackService.Tests/obj/Debug/net6.0/StackService.Tests.GeneratedMSBuildEditorConfig.editorconfig
StackService.Tests/obj/Debug/net6.0/StackService.Tests.genruntimeconfig.cache
StackService.Tests/obj/Debug/net6.0/StackService.Tests.pdb
StackService.Tests/obj/Debug/net6.0/ref/StackService.Tests.dll
.ionide/symbolCache.db
